.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 50px;
  background-color: pink;
}
.heading {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}
.add-form {
  margin: 15px 0;
}
.add-text {
  border: 0;
  padding: 5px;
  min-height: 28px;
  font-size: 16px;
  max-height: 32px;
  height: 30px;
  color: #333;
}
.add-text:focus {
  outline: none;
}
.add-btn {
  min-width: 75px;
  border: 0;
  background-color: #333;
  color: white;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  min-height: 28px;
  font-size: 16px;
  height: 40px;
}
